@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
a{
    color: black;
}
a:hover{
    color: black;
}
.main_navigation{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.nav ul{
    display: flex;

}
.nav li{
    padding:1rem;
}
.drop_menu{
    display: none;
}
.sell_login ul{
    display: flex;
    justify-content: space-between;
}
.sell_login li{
    padding: 1rem;
}
.sell_login button{
    width: 157px;
    height: 54px;
    border-radius: 25px;
    border: none;
    color: white;
    background:linear-gradient(#FD749B,#281AC8);
}
.sell_login a{
    color: white;
}
.header_content{
    background:linear-gradient(#FD749B,#281AC8);
    display: flex;
    justify-content: space-around;
     
}
.header_text{
    color: white;
    width: 529px;
    margin-left: 215px;
    font-size: 18px;
    margin-top: 142px;
}
.header_text p{
    font-weight: 400;
}
.header_text button{
    margin-top: 1rem;
    width: 157px;
    height: 54px;
    border-radius: 30px;
   border: none;
}
.header_text a{
    color: linear-gradient(#FD749B,#281AC8);
}
.header_content img{
    margin-top: 80px;
}
.welcome_to_coin{
    padding: 5rem;
    display: flex;
    justify-content: center;
}
.welcome_to_coin hr{
    width: 50px;
    height: 5px;
    background-color:#FD749B;
    border-radius: 50px;
    border: none;
}
.welcome_h1{
    font-size: 28px;
    background: -webkit-linear-gradient(#FD749B,#281AC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcome_content p{
    font-weight: 400;
    font-size: 16px;
    margin-top: 4rem;
}
.welcome_content button{
    margin-top: 3rem;
    width: 157px;
    height: 54px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#FD749B,#281AC8);
}
.welcome_content a{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.rates{
    margin: 0 auto;
    width: 1158px;
    height: 368px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 17px 28px rgba(0,0,0,0.25), 0 17px 10px rgba(0,0,0,0.22);
}
.h1_rates{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    font-size: 10px;
    font-weight: 700;
    background: -webkit-linear-gradient(#FD749B,#281AC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rates hr{
    margin-top: 40px;
}
.list_btc{
    display: flex;
    justify-items:start;
    align-items: center;
    margin-left: 0.5rem;
}
.list_btc_li{
    padding: 1rem;
    font-weight: 400;
}
.btc_buy{
    padding: 1rem;
}
.list_eth{
    display: flex;
    justify-items:start;
    margin-left: 1rem;
    align-items: center;
}
.list_eth_li{
    padding: 1rem;
    font-weight: 400;
}
.eth_buy{
    padding: 1rem;
}
.experience{
    margin: 0 auto;
    margin-top: 30vh;
    display: flex;
    justify-content: space-between;
}
.experience img{
    margin-right: 3rem;
}